USE [master]
GO
/****** Object:  Database [PRACTICA_01]    Script Date: 15/9/2024 19:48:23 ******/
CREATE DATABASE [PRACTICA_01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRACTICA_01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL\MSSQL\DATA\PRACTICA_01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRACTICA_01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL\MSSQL\DATA\PRACTICA_01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRACTICA_01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRACTICA_01]
GO
/****** Object:  Table [dbo].[T_ARTICULOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ARTICULOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[precio_unitario] [decimal](8, 2) NULL,
 CONSTRAINT [PK_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_CLIENTES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CLIENTES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DETALLE_FACTURAS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DETALLE_FACTURAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[articulo_id] [int] NULL,
	[factura_id] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_DETALLE_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_FACTURAS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FACTURAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[forma_pago_id] [int] NULL,
	[cliente_id] [int] NULL,
	[nro_factura] [int] NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_FORMAS_PAGOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FORMAS_PAGOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_FORMAS_PAGOS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_DETALLE_FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_ARTICULO_DETALLE] FOREIGN KEY([articulo_id])
REFERENCES [dbo].[T_ARTICULOS] ([id])
GO
ALTER TABLE [dbo].[T_DETALLE_FACTURAS] CHECK CONSTRAINT [FK_ARTICULO_DETALLE]
GO
ALTER TABLE [dbo].[T_DETALLE_FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_DETALLE] FOREIGN KEY([factura_id])
REFERENCES [dbo].[T_FACTURAS] ([id])
GO
ALTER TABLE [dbo].[T_DETALLE_FACTURAS] CHECK CONSTRAINT [FK_FACTURA_DETALLE]
GO
ALTER TABLE [dbo].[T_FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_FACTURAS] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[T_CLIENTES] ([id])
GO
ALTER TABLE [dbo].[T_FACTURAS] CHECK CONSTRAINT [FK_CLIENTES_FACTURAS]
GO
ALTER TABLE [dbo].[T_FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FORMAS_PAGOS_FACTURAS] FOREIGN KEY([forma_pago_id])
REFERENCES [dbo].[T_FORMAS_PAGOS] ([id])
GO
ALTER TABLE [dbo].[T_FACTURAS] CHECK CONSTRAINT [FK_FORMAS_PAGOS_FACTURAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ALL_ARTICULOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_ALL_ARTICULOS]
as
BEGIN 
	DELETE FROM T_ARTICULOS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ARTICULOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_ARTICULOS]
@id int	
AS
BEGIN
	
	DELETE FROM T_Articulos WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CLIENTES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_CLIENTES] 
@id int
AS
BEGIN
	DELETE FROM T_CLIENTES WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DETALLES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_DETALLES]
	@facturaid int,
	@detalleid int
AS
BEGIN
	DELETE FROM T_DETALLE_FACTURAS 
	WHERE factura_id = @facturaid AND id = @detalleid
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_FACTURAS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_FACTURAS]
	@facturaid int
AS
BEGIN
	DELETE FROM T_FACTURAS WHERE id = @facturaid
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_ARTICULOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ALL_ARTICULOS]
	
AS
BEGIN
	
	SELECT * FROM T_Articulos
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_CLIENTES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ALL_CLIENTES] 
AS
BEGIN
	SELECT * FROM T_CLIENTES
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BYID_ARTICULOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BYID_ARTICULOS]
@id int	
AS
BEGIN
	
	SELECT * FROM T_Articulos WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BYID_CLIENTES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BYID_CLIENTES] 
@id int
AS
BEGIN
	SELECT * FROM T_CLIENTES WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BYID_FORMAS_PAGOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BYID_FORMAS_PAGOS] 
	@id int
AS
BEGIN
	SELECT * FROM T_FORMAS_PAGOS WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BYID_MASTER]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BYID_MASTER]
	@id int 
AS
BEGIN
	SELECT * FROM T_FACTURAS WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DETALLE]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_DETALLE]
	@facturaid int
AS
BEGIN
	SELECT * FROM T_DETALLE_FACTURAS WHERE factura_id = @facturaid
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MASTER]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_MASTER]
AS
BEGIN
	SELECT * FROM T_FACTURAS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_ARTICULOS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAVE_ARTICULOS]
@id int,
@nombre varchar(20),
@precio decimal(8,2),
@param_out int = null output
AS
BEGIN
	IF @id = 0
		BEGIN
			INSERT INTO T_ARTICULOS (nombre,precio_unitario) 
			VALUES(@nombre,@precio)
			SET @param_out = SCOPE_IDENTITY()
		END
	ELSE
		BEGIN
			UPDATE T_ARTICULOS SET nombre=@nombre, precio_unitario=@precio
			WHERE id=@id
			SET @param_out = @id
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_CLIENTES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAVE_CLIENTES] 
@id int,
@nombre varchar(20),
@apellido varchar(20),
@param_out int = null output
AS
BEGIN
	IF @id = 0
		BEGIN
			INSERT INTO T_CLIENTES (nombre,apellido) VALUES (@nombre, @apellido)
			SET @param_out = SCOPE_IDENTITY()
		END
	ELSE
		BEGIN
			UPDATE T_CLIENTES SET nombre=@nombre, apellido=@apellido
			SET @param_out = @id
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_DETALLES]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SAVE_DETALLES]
	@articuloid int,
	@facturaid int,
	@cantidad int
AS
BEGIN
	INSERT INTO T_DETALLE_FACTURAS(articulo_id,factura_id,cantidad)
	VALUES(@articuloid,@facturaid,@cantidad)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_FACTURAS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAVE_FACTURAS]
	@fecha datetime,
	@formapagoid int,
	@clienteid int,
	@nrofactura int,
	@facturaidout int output
AS
BEGIN
	INSERT INTO T_FACTURAS (fecha, forma_pago_id, cliente_id, nro_factura)
	VALUES(GETDATE(), @formapagoid, @clienteid, @nrofactura)
	SET @facturaidout = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DETALLE]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_DETALLE]
	@detalleid int,
	@articuloid int,
	@facturaid int,
	@cantidad int
AS
BEGIN
	UPDATE T_DETALLE_FACTURAS SET articulo_id=@articuloid,
	factura_id=@facturaid,
	cantidad=@cantidad
	WHERE  id = @detalleid
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_FACTURAS]    Script Date: 15/9/2024 19:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_FACTURAS]
	@facturaid int,
	@fecha datetime,
	@formapagoid int,
	@clienteid int,
	@nrofactura int
	
AS
BEGIN
	UPDATE T_FACTURAS SET 
	fecha=@fecha,
	forma_pago_id=@formapagoid,
	cliente_id=@clienteid,
	nro_factura=@nrofactura
	WHERE id = @facturaid
END
GO
USE [master]
GO
